

.fotos{
    display: flex;
    justify-content: center;
    gap: 80px 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    
    
}

.foto01 img{
    height: 300px;
    width: 100%;
    display: block;
    
    
}

.foto02 img{
    height: 300px;
    width: 100%;
    display: block;
}

.foto03 img{
    height: 300px;
    width: 100%;
    display: block;
}   

.foto04 img{
    height: 300px;
    width: 470px;
    display: block;
}

.foto05 img{
    height: 300px;
    width: 470px;
    display: block;
    
}

.foto06 img{
    height: 300px;
    width: 470px;
    display: block;
    
}

.foto01 p{
    
}

.foto02 p{
    
}

.foto03 p{

}


.foto04 p{

}

.foto05 p{

}
.foto06 p{

}