.banner{

}

.banner img{
    height: 800px;
    width: 100%;
    display: block;
    

}

.ocasoimagem img{
    position: absolute;
    left: 535px;
    top: 270px;
    height: 450px;
}