.logo{

}

.logo img{
    height: 80px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 80px;
}

.banner{

}

.banner img{
    height: 800px;
    width: 100%;
    display: block;
    

}

.ocasoimagem img{
    height: 450px;
    position: absolute;
    top: 250px;
    left: 530px;
}



