@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

p{
color: white;
margin: 0;
}

h1{
    color: white;
    font-family: "Special Elite", serif;
    margin: 0;
}

h2{
    color: white;
    margin: 0;
}

.titulo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-bottom: 0;
   
}

.linha-do-tempo{
    font-family: "Special Elite", serif;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 100%;
    justify-content: center;
    
    
}

.topicos{
    
}

.topicos h1{
    font-size: 40px;
    padding-top: 20px;
    color: white;
    width: 100%;
}

.topicos h3{
    margin: 0;
    color: white;
    width: 100%;
}

.topicos p:not(.subtitulo){
    font-size: 20px;
    color: white;
    margin: 0 350px;
    
    
    
}

/*
.subtitulo{
    margin: 0 300px;
    padding-top: 5px;
    padding-bottom: 25px;
    opacity: 80%;
    text-align: left;
    width: 100%;
    
}*/

.encerramento{
    padding-bottom: 40px;
    width: 100%;
}


.evidencias{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}

.integrantes{
    font-size: 15px;
    color: white;
    text-align: center;
    
}

.Fontes{
    font-family: "Special Elite", serif;
    font-size: 30px;
}

li{
    color: white;
    font-size: 25px;
}